<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>従業員情報テスト</title>
  <link rel="stylesheet" href="/bootstrap-5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">従業員情報テスト</h1>
    <ul class="list-group mb-3">
      <li class="list-group-item"><a href="/registration" class="text-decoration-none">従業員追加</a></li>
      <li class="list-group-item"><a href="/list" class="text-decoration-none">従業員一覧</a></li>
    </ul>
  </div>
</body>
</html>
